<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="signup.css">
  <title>signup</title>
</head>

<div>
<body>


  
<div class="left">

	<img src="example.jpg">

</div>

<div class="right">
    
    <h2> Awesome stuff you will get: </h2>

    <ul>
	<li> cool stuff </li>
	<li> more cool stuff </li>
	<li> even more cool stuff </li>
    </ul>

    <fieldset>
       <input placeholder="Your Email Address" type="email" tabIndex="3" required />
    </fieldset>
    <button name="submit" type="submit" id="signup" data-submit="Working...">Click now</button>

</div>



</body>
</div>
</html>
