<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>  </title>
</head>
<body>

    <header>
        <nav>
            <a href="#">One</a> |
            <a href="#">Two</a> |
            <a href="#">Three</a> |
        </nav>
    </header>

    <div class="hero">

        <div class="h-left">
            <h1> fancy title </h1>
            <h3> sub title </h3>
            <button class="h-b-left"> take action now </button>
        </div>

        <div class="h-right">
            <p class="h-words"> few words </p>
            <img class="h-img" />
        </div>

    </div>

    <div class="3-features">

        <div class="f-left">
            <h3> 1 feature </h3>
            <p> details </p>
        </div>

        <div class="f-centre">
            <h3> 1 feature </h3>
            <p> details </p>
        </div>

        <div class="f-right">
            <h3> 1 feature </h3>
            <p> details </p>
        </div>

    </div>

    <div class="3-details">

        <h2> call to action </h2>

        <button> CTA </button>

    </div>

    <div class="faq">

        <p> question? </p>

        <p> question? </p>

        <p> question? </p>


        <p> question? </p>

        <p> question? </p>

        <p> question? </p>

    </div>

    <footer> simple footer</footer>


    <style>
        .f-left {
            width: 30%
        }

        .f-centre {
            width: 30%
        }

        .f-right {
            width: 30%
        }
    </style>
</body>
</html>
    
